body {
  margin: auto;
  width: 800px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

@media (max-width: 576px) {
  body {
    margin: auto;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
  }
}

@media (min-width: 577px) and (max-width: 800px) {
  body {
    margin: auto;
    width: auto;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
  }
}

.upping {
  height: 200px;
  display: flex;
  background-color: rgb(68, 90, 103);
  box-shadow: 8px 0px 20px rgba(0, 0, 0, 0.25);
}

.naming {
  color: white;
  font-size: 40px;
  margin-top: 25px;
}

@media (max-width: 576px) {
  .naming {
    font-size: 30px;
    margin-top: 4%;
  }
}

.profession {
  font-size: 20px;
  padding: 0%;
  margin: 0px;
}

a {
  color: darkgreen;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

.numbers_up {
  display: flex;
  height: 85px;
  margin: auto;
  align-items: center;
  gap: 20px;
}

@media (max-width: 576px) {
  .numbers_up {
    width: auto;
    height: auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .numbers_up {
    width: auto;
    height: 85px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0;
  }
}

@media (max-width: 576px) {
  .number_up {
    width: 100%;
    height: 100%%;
    margin: 5px 10px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .number_up {
    width: auto;
    height: 100%%;
    margin: 5px 10px;
  }
}

.avatar {
  width: 200px;
  height: 200px;
}

.head {
  box-sizing: border-box;
  padding-left: 30px;
}

@media (max-width: 576px) {
  .head {
    box-sizing: border-box;
    padding-left: 25px;
  }
}

hr,
.downloads_button,
.profession,
.number_up,
.place {
  color: rgb(156, 172, 187);
}

.icon {
  width: 15px;
  height: 15px;
}

.years,
.place,
.work_body {
  margin: 0px;
}

.list {
  padding-left: 5%;
  padding-top: 10px;
  list-style: disc;
}

.downloads {
  margin-top: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: end;
  gap: 2%;
}

.downloads_button {
  background-color: rgb(68, 90, 103);

  border: none;
}

.info {
  display: grid;
  grid-template-columns: 60% auto;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .info > .right_block {
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .info > .right_block {
    width: 100%;
  }
}

.left_block,
.right_block {
  margin: 0px 20px;
}

.block_head {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 20px;
}

.position_date {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5px;
}

.position_body {
  width: 240px;
  margin: 0%;
}

.place {
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  size: 55;
  margin-top: 25px;
  margin-bottom: 25px;
}
